<footer class="p-2 bg-dark text-white text-center">
    <div class="text-start fw-lighter">
       <div class="row p-5 mx-5 text-center d-none d-md-flex justify-lg-content-between ">
          <div class="col-3"><p>SEHER MELİKE ÜNALDI</p> </div>
          <div class="col-3"><p>ZEHRA AN</p> </div>
          <div class="col-3"><p>ÖZER ARMAĞAN</p> </div>
          <div class="col-3"><p>ERDEM HACIHASANOĞLU</p> </div>
       </div>
    </div>
    <div class="text-start fw-lighter">
       <div class="row p-5 mx-5 text-center d-flex d-md-none">
          <p>SEHER MELİKE ÜNALDI</p>
          <p>ZEHRA AN</p>
          <p>ÖZER ARMAĞAN</p>
          <p>ERDEM HACIHASANOĞLU</p>
       </div>
    </div> 
    <hr>
    &copy;2022 Kocaeli Üniversitesi
    <span class="text-primary">&hearts;</span>
 
</footer>