@media only screen and (min-width: 760px) {
    .navbarstyl{
        background: linear-gradient(180deg,#F8F9FA 0%, #F8F9FA 100%);
        height:200vh;
    }
    .solImg{
        transform: translateX(-250px);
        transition: transform 250ms ease-in-out;
    }
    .sagImg{
        transform: translateX(250px);
        transition: transform 250ms ease-in-out;
    }
    body:hover .solImg{
        transform: translateX(250px);
        transition: all 3s;
    }
    body:hover .sagImg{
        transform: translateX(-250px);
        transition: all 3s;
    }
    .headerImg{
        transform: translateX(-70px);
    }
    body:hover .headerImg{
        transform: translateX(0px);
        transition: all 2s;
    }    
  }
  @media only screen and (max-width: 760px) {
    .nav-link{
        height: 2rem;
    }
    .kullanicilar{
        display:none;
    }
  }

.navbarstyl{
    background: linear-gradient(180deg,#F8F9FA 0%, #F8F9FA 100%);
    
}
.nav-link{
    color:#000 ;
}
.nav-link:hover{
    color:rgb(0, 133, 20) ;
}
.navbarstyl button:hover{
    background-color: #fff;
  }
.navbarstyl button{
    background-color:   #F8F9FA !important;
}
.belge .card{
    background: linear-gradient(180deg, #212529 0%, #198754 100%);
    width: 16rem;
    height: 10rem;
}
.belge .card:hover{
    width: 20rem;
    height: 12rem;
    transition: all 1s;
}


