
.navbarstyl{
        transform: translateX(-200px);
        background: linear-gradient(180deg,rgb(218, 218, 218) 0%, rgb(218, 218, 218) 100%);
        z-index: 1;
        height:100vh;
}
.navbarstyl:hover{
    transition: transform 2s ease-in-out;
    transform: translateX(0px);
}

.buyukEkran .tab-pane{
    transform: translateX(-120px);
    z-index: -1;
}
  
.navbarstyl{
    background: linear-gradient(180deg,rgb(218, 218, 218) 0%, rgb(218, 218, 218) 100%);
}
.nav-link{
    color:#000 ;
}
.nav-link:hover{
    color:rgb(0, 133, 20) ;
}
.navbarstyl button:hover{
    background-color: #fff;
  }
.navbarstyl button{
    background-color:   rgb(218, 218, 218) !important;
}
