<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/staj1.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <img class="headerImg" src="../img/kocaeli-universitesi-logo-2.png" alt="" style="height:50px;"> 
            <a class="navbar-brand" href="#">Kocaeli Üniversitesi Staj Takip Sistemi</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Kullanıcı Paneli</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="./ogrencihome.html">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./profilOgrenci.html">Profil</a>
                    </li>
                    <li>
                      <a class="nav-link" href="../sayfalar/homepage.html">Çıkış</a>
                    </li>
                </ul>
              </div>
            </div>
        </div>
      </nav>
    <ul class="nav nav-pills pt-5 my-3 d-flex justify-content-center navbarstyl" id="pills-tab" role="tablist">
        <li class="nav-item m-3" role="presentation">
          <button class="nav-link active" id="pills-Ime-tab" data-bs-toggle="pill" data-bs-target="#pills-Ime" type="button" role="tab" aria-controls="pills-Ime" aria-selected="true">İşletmede Mesleki Eğitim Formu</button>
        </li>
        <li class="nav-item m-3" role="presentation">
          <button class="nav-link" id="pills-basvuruFormYukle-tab" data-bs-toggle="pill" data-bs-target="#pills-basvuruFormYukle" type="button" role="tab" aria-controls="pills-basvuruFormYukle" aria-selected="false">Başvuru Formu Yükleme</button>
        </li>
        <li class="nav-item m-3" role="presentation">
            <button class="nav-link" id="pills-imeRaporYukle-tab" data-bs-toggle="pill" data-bs-target="#pills-imeRaporYukle" type="button" role="tab" aria-controls="pills-imeRaporYukle" aria-selected="false">İşletmede Mesleki Eğitim Raporu Yükleme</button>
          </li>
          <li class="nav-item m-3" role="presentation">
            <button class="nav-link" id="pills-degerlendirmeFormYukle-tab" data-bs-toggle="pill" data-bs-target="#pills-degerlendirmeFormYukle" type="button" role="tab" aria-controls="pills-degerlendirmeFormYukle" aria-selected="false">Değerlendirme Formu Yükleme</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-Ime" role="tabpanel" aria-labelledby="pills-Ime-tab" tabindex="0">
            <div class="container">
                <main>
                    <div class="container">
                        <main>
                          <div class="py-5 text-center">
                            <img class="d-block mx-auto mb-4" src="../img/kocaeli-universitesi-logo-2.png" alt="" width="100" height="100">
                            <h2>İşletmede Mesleki Eğitim</h2>
                          </div>
                          <div class="row g-5 mx-5">
                            <div class="col">
                              <h4 class="mb-3">Firma Bilgileri</h4>
                              <form class="needs-validation" novalidate>
                                <div class="row g-3">
                                  <div class="col-sm-6">
                                    <label for="firmaAdi" class="form-label">Firma Adı:</label>
                                    <input type="text" class="form-control" id="firmaAdi" placeholder="" value="" required>
                                    <div class="invalid-feedback">
                                      Firma adı boş geçilemez.
                                    </div>
                                  </div>
                    
                                  <div class="col-sm-6">
                                    <label for="faaliyetAlanı" class="form-label">Faaliyet Alanı:</label>
                                    <input type="text" class="form-control" id="faaliyetAlanı" placeholder="" value="" required>
                                    <div class="invalid-feedback">
                                      Faaliyet alanı boş geçilemez.
                                    </div>
                                  </div>
                    
                                  <div class="col-12">
                                    <label for="adresBil" class="form-label">Adres Bilgileri:</label>
                                    <div class="input-group has-validation">
                                      <input type="text" class="form-control" id="adresBil" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Adres boş geçilemez.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <label for="adresIl" class="form-label">İl:</label>
                                    <div class="input-group has-validation">
                                      <input type="text" class="form-control" id="adresIl" placeholder="" required>
                                    <div class="invalid-feedback">
                                        İl boş geçilemez.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <label for="adresIlce" class="form-label">İlçe:</label>
                                    <div class="input-group has-validation">
                                      <input type="text" class="form-control" id="adresIlce" placeholder="" required>
                                    <div class="invalid-feedback">
                                        İlce boş geçilemez.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <label for="postaKodu" class="form-label">Posta Kodu:</label>
                                    <div class="input-group has-validation">
                                      <input type="text" class="form-control" id="postaKodu" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Posta kodu geçilemez.
                                      </div>
                                    </div>
                                  </div>
                                  <p><strong>İletişim Bilgileri</strong></p>
                                  <div class="col-md-4">
                                    <label for="telNo" class="form-label">Telefon:</label>
                                    <div class="input-group has-validation">
                                      <input type="text" class="form-control" id="telNo" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Telefon boş geçilemez.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <label for="fax" class="form-label">Fax:</label>
                                    <div class="input-group has-validation">
                                      <input type="text" class="form-control" id="fax" placeholder="" required>
                                    <div class="invalid-feedback">
                                        İlce boş geçilemez.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <label for="email" class="form-label">E-Posta:</label>
                                    <div class="input-group has-validation">
                                      <input type="email" class="form-control" id="email" placeholder="" required>
                                    </div>
                                  </div>
                                  <div class="ps-5 pe-5">
                                    <label for="unvan" class="form-label">İşletmede Mesleki Eğitim  Sorumlusunun Ünvanı:</label>
                                    <select class="form-select" id="country" required>
                                      <option value="">Seçiniz</option>
                                      <option>Mühendis</option>
                                      <option>Teknik Öğretmen</option>
                                      <option>Doktor</option>
                                    </select>
                                    <div class="invalid-feedback">
                                      Ünvan boş geçilemez
                                    </div>
                                  </div>
                                  
                                    <div class="col-8 pt-4">
                                    Kurum olarak 3308 sayılı kanundaki devlet katkısından yararlanmak istiyor musunuz?
                                    </div>
                                    <div class="col-2 pt-4">
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="devKatYes">
                                        <label class="form-check-label" for="devKatYes">
                                          Evet
                                        </label>
                                      </div>
                                    </div>
                                    <div class="col-2 pt-4">
                                      <div class="form-check">
                                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="devKatNo" checked>
                                      <label class="form-check-label" for="devKatNo">
                                        Hayır
                                      </label>
                                    </div>
                                    </div>
                                  <h4>İşletmede Mesleki Eğitim  Bilgileri</h4>
                                  <label for="ibanNo" class="form-label">Size Ait İban Numarası:</label>
                                    <input type="text" class="form-control" id="ibanNo" placeholder="" value="" required>
                                    <div class="invalid-feedback">
                                      Firma adı boş geçilemez.
                                    </div> 
                                  <div class="col-6">
                                      <label for="basTarih" class="form-label">Başlangıç Tarihi</label>
                                      <div class="input-group has-validation">
                                        <input type="date" class="form-control" id="basTarih" placeholder="" required>
                                      </div>
                                      <div class="invalid-feedback">
                                        Tarih boş geçilemez.
                                      </div>
                                  </div>
                                  <div class="col-6">
                                    <label for="bitTarih" class="form-label">Bitiş Tarihi:</label>
                                      <div class="input-group has-validation">
                                        <input type="date" class="form-control" id="bitTarih" placeholder="" required>
                                      <div class="invalid-feedback">
                                        Tarih boş geçilemez.
                                      </div>
                                  </div>
                                  </div> 
                                  <div class="col-8 pt-4">
                                    Ailemden, Kendimden veya Anne-Baba Üzarinden Genel Sağlık Sigortası Kapsamında Sağlık Hizmeti Alıyorum.
                                  </div>
                                  <div class="col-2 pt-4">
                                      <div class="form-check">
                                      <input class="form-check-input" type="radio" name="aile" id="aileYes">
                                      <label class="form-check-label" for="aileYes">
                                        Evet
                                      </label>
                                      </div>
                                      </div>
                                      <div class="col-2 pt-4">
                                      <div class="form-check">
                                      <input class="form-check-input" type="radio" name="aile" id="aileNo" checked>
                                      <label class="form-check-label" for="aileNo">
                                        Hayır
                                      </label>
                                      </div>
                                    </div>
                    
                                    <div class="col-8 pt-4">
                                      Genel Sağlık Sigortası (GSS) (Gelir Testi Yaptırdım Prim Ödüyorum).
                                    </div>
                                    <div class="col-2 pt-4">
                                        <div class="form-check">
                                        <input class="form-check-input" type="radio" name="genelSag" id="genelsagYes">
                                        <label class="form-check-label" for="genelsagYes">
                                          Evet
                                        </label>
                                        </div>
                                        </div>
                                        <div class="col-2 pt-4">
                                        <div class="form-check">
                                        <input class="form-check-input" type="radio" name="genelSag" id="genelsagNo" checked>
                                        <label class="form-check-label" for="aileNo">
                                          Hayır
                                        </label>
                                        </div>
                                      </div>
                                      <div class="col-8 pt-4">
                                        25 Yaşını Doldurdum.
                                      </div>
                                      <div class="col-2 pt-4">
                                          <div class="form-check">
                                          <input class="form-check-input" type="radio" name="25yas" id="genelsagYes">
                                          <label class="form-check-label" for="25yasYes">
                                            Evet
                                          </label>
                                          </div>
                                          </div>
                                          <div class="col-2 pt-4">
                                          <div class="form-check">
                                          <input class="form-check-input" type="radio" name="25yas" id="genelsagNo" checked>
                                          <label class="form-check-label" for="25yasNo">
                                            Hayır
                                          </label>
                                          </div>
                                        </div>
                                        <div class="col-8 pt-4">
                                          Cumartesi çalışıyor
                                        </div>
                                        <div class="col-2 pt-4">
                                          <div class="form-check">
                                          <input class="form-check-input" type="radio" name="cumartesi" id="cumartesiYes">
                                          <label class="form-check-label" for="25yasYes">
                                            Evet
                                          </label>
                                          </div>
                                          </div>
                                          <div class="col-2 pt-4">
                                          <div class="form-check">
                                          <input class="form-check-input" type="radio" name="cumartesi" id="cumartesiNo" checked>
                                          <label class="form-check-label" for="25yasNo">
                                            Hayır
                                          </label>
                                          </div>
                                        </div>                                                       
                                <button class="w-100 btn btn-success btn-lg mx-2" type="submit">Gönder</button> <br>
                              </form>
                            </div>
                          </div>
                        </main>
                    </div>
                </main>
              </div>
        </div>
        <div class="tab-pane fade" id="pills-basvuruFormYukle" role="tabpanel" aria-labelledby="pills-x-tab" tabindex="0">
            <br><br>
            <h3 class="text-center">İşletmede Mesleki Eğitim</h3>
            <br>
            <div class="container d-flex justify-content-center text-white">
                <div class="card text-center border border-dark border-2 rounded-3">
                    <div class="card-body">
                        <br><br>
                      <h5 class="card-title">Başvuru Belgenizi Yükleyiniz</h5><br>
                      <button type="button" class="btn btn-dark">Belge seç</button>
                      <p class="card-text fw-lighter"><i>veya belgeyi buraya bırakın.(belgeniz pdf formatında olmalıdır.)</i></p>
                    </div>
                </div>
            </div>         
        </div>
        <div class="tab-pane fade" id="pills-imeRaporYukle" role="tabpanel" aria-labelledby="pills-imeRaporYukle-tab" tabindex="0">
            <br><br>
            <h3 class="text-center">İşletmede Mesleki Eğitim</h3>
            <br>
            <div class="container d-flex justify-content-center text-white">
                <div class="card text-center border border-dark border-2 rounded-3">
                    <div class="card-body">
                        <br><br>
                      <h5 class="card-title">İşletmede Mesleki Eğitim Raporunuzu Yükleyiniz</h5><br>
                      <button type="button" class="btn btn-dark">Belge seç</button>
                      <p class="card-text fw-lighter"><i>veya belgeyi buraya bırakın.(belgeniz pdf formatında olmalıdır.)</i></p>
                    </div>
                </div>
            </div>      
        </div>
        <div class="tab-pane fade" id="pills-degerlendirmeFormYukle" role="tabpanel" aria-labelledby="pills-degerlendirmeFormYukle-tab" tabindex="0">
            <br><br>
            <h3 class="text-center">İşletmede Mesleki Eğitim</h3>
            <br>
            <div class="container d-flex justify-content-center text-white">
                <div class="card text-center border border-dark border-2 rounded-3">
                    <div class="card-body">
                        <br><br> 
                      <h5 class="card-title">İşletmede Mesleki Eğitim Değerlendirme Belgenizi Yükleyiniz</h5><br>
                      <button type="button" class="btn btn-dark">Belge seç</button>
                      <p class="card-text fw-lighter"><i>veya belgeyi buraya bırakın.(belgeniz pdf formatında olmalıdır.)</i></p>
                    </div>
                </div>
            </div>      
        </div>
        <br><br><br><br><br>
    <footer class="p-2 bg-dark text-white text-center">
        <div class="text-start fw-lighter">
           <div class="row p-5 mx-5 text-center d-none d-md-flex justify-lg-content-between ">
              <div class="col-3"><p>SEHER MELİKE ÜNALDI</p> </div>
              <div class="col-3"><p>ZEHRA AN</p> </div>
              <div class="col-3"><p>ÖZER ARMAĞAN</p> </div>
              <div class="col-3"><p>ERDEM HACIHASANOĞLU</p> </div>
           </div>
        </div>
        <div class="text-start fw-lighter">
           <div class="row p-5 mx-5 text-center d-flex d-md-none">
              <p>SEHER MELİKE ÜNALDI</p>
              <p>ZEHRA AN</p>
              <p>ÖZER ARMAĞAN</p>
              <p>ERDEM HACIHASANOĞLU</p>
           </div>
        </div> 
        <hr>
        &copy;2022 Kocaeli Üniversitesi
        <span class="text-primary">&hearts;</span>
     
    </footer>

    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/form-validation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>