<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <img class="headerImg" src="../img/kocaeli-universitesi-logo-2.png" alt="" style="height:50px;"> 
        <a class="navbar-brand" href="/admin/kullanicitablosu">Kocaeli Üniversitesi Staj Takip Sistemi</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Kullanıcı Paneli</h5>
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">

            </h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item"><a class="nav-link" href="/admin/profil">Profil <% if (isAuth) { %><%=  kullaniciAd %> <%= kullaniciSoyad %><% } %></a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Yetkileriniz
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="/admin/kullanicitablosu">Kullanıcı İşlemleri</a></li>
                    <li><a class="dropdown-item" href="/admin/basvurudegerlendir">Öğrenci Staj-IME İşlemleri</a></li>
                    <li><a class="dropdown-item" href="/admin/duyurular">Duyuru Oluşturma</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                  </ul>
                </li>
                <li><a class="nav-link" href="/cikis">Çıkış</a></li>
            </ul>
          </div>
        </div>
    </div>
</nav>