<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/datatables.min.css"/>
    <link rel="stylesheet" href="../css/sablonn.css">
    <link rel="stylesheet" href="../css/sablon.css">
    <link rel="stylesheet" href="../css/form-validation.css">
    <title>STAJ TAKİP SİSTEMİ</title>
</head>
<body>

  <%- include("./partials/nav")  %>

<nav class="main-menu">
    <ul>
        <li class="has-subnav">
            <a href="/admin/duyurular">
                <i class="fa fa-2x bi bi-arrow-right"></i>
                <span class="nav-text">
                    Duyurular
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="/admin/duyuruolustur">
                <i class="fa fa-2x bi bi-arrow-right"></i>
                <span class="nav-text">
                    Duyuru Yayınlayın
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="/admin/duyuruguncelle">
                <i class="fa fa-2x bi bi-arrow-right"></i>
                <span class="nav-text">
                    Duyuru Güncelleyin
                </span>
            </a>
           
        </li>
        <li>
            <a href="/admin/duyurusil">
                <i class=" fa fa-2x bi bi-arrow-right"></i>
                <span class="nav-text">
                    Duyuru Silin
                </span>
            </a>
        </li>
</nav>
    <div class="p-5 m-5">
      <table class="table table-bordered  table-hover" id="duyuruTable">
        <h5 class="text-center ">Duyurular</h5><hr />
            <thead class="table-success">
                <tr>
                    <th class="text-center">Duyuru Numarası</th>
                    <th class="text-center">Duyuru Başlığı</th>
                </tr>
            </thead>
            <tbody> 
              <% duyurular.forEach(element => { %>
                <tr>
                  <td>
                    <%= element.dataValues.duyuruID %> 
                  </td>
                    <td>
                      <%= element.dataValues.duyuruBaslik %> 
                    </td>
                </tr>
               
              <% }) %>
             
            </tbody>
      </table>
    </div>
    


    <footer class="pt-5 bg-light text-dark text-center">
        <div class="text-start fw-lighter">
           <div class="row p-5 mx-5 text-center d-none d-md-flex justify-lg-content-between ">
              <div class="col-3"><p>SEHER MELİKE ÜNALDI</p> </div>
              <div class="col-3"><p>ZEHRA AN</p> </div>
              <div class="col-3"><p>ÖZER ARMAĞAN</p> </div>
              <div class="col-3"><p>ERDEM HACIHASANOĞLU</p> </div>
           </div>
        </div>
        <div class="pt-5 text-start fw-lighter">
           <div class="row p-5 mx-5 text-center d-flex d-md-none">
              <p>SEHER MELİKE ÜNALDI</p>
              <p>ZEHRA AN</p>
              <p>ÖZER ARMAĞAN</p>
              <p>ERDEM HACIHASANOĞLU</p>
           </div>
        </div> 
        <hr>

        &copy;2022 Kocaeli Üniversitesi
        <span class="text-primary">&hearts;</span> 
    </footer>
    <script src="../js/form-validation.js"></script>    
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script>
        $('#duyuruTable').DataTable({
            lengthMenu:[15,30,50,100],
            language:{
                url:'https://cdn.datatables.net/plug-ins/1.12.1/i18n/tr.json',
                "info": "Toplam _TOTAL_ Kayıt",
                "lengthMenu":" Kayıt : _MENU_ ",
                "paginate": {
                    "first":      "First",
                    "last":       "Last",
                    "next":       ">",
                    "previous":   "<"
                }} }); 
    </script>
</body>
</html>