<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"><!-- bootstrap css-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/datatables.min.css"/><!-- datatable css-->
    <link rel="stylesheet" href="../css/form-validation.css">
    <link rel="stylesheet" href="../css/navbarak.css">

    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <img class="headerImg" src="../img/kocaeli-universitesi-logo-2.png" alt="" style="height:50px;"> 
            <a class="navbar-brand" href="#">Kocaeli Üniversitesi Staj Takip Sistemi</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Kullanıcı Paneli</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="./ogretmenSayfasi.html">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./profilOgretmen.html">Profil</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../sayfalar/homepage.html">Çıkış</a>
                    </li>
                </ul>
              </div>
            </div>
        </div>
    </nav>
      <div class="row my-5 pt-4 text-center">
        <div class="col-4 solImg">
            <img src="../img/kocaeli-universitesi-logo-2.png" alt="" style="width: 150px;">
        </div>
        <div class="col-4 pt-5">
            <h3 class="text-center">Öğrenci Değerlendir</h3>
        </div>
        <div class="col-4 sagImg">
            <img src="../img/kocaeli-universitesi-logo-2.png" alt="" style="width: 150px;">
        </div>
      </div>
      <div class="container text-center">       
        <table class="table table-bordered  table-hover" id="ogretmenDegerlendir">
            <h5 class="text-center pt-5">Değerlendirecek Olduğunuz Öğrencinin Staj ve İşyeri Eğitimi Bilgilerini Sorgulayın</h5><hr />
                <thead class="table-success">
                    <tr>
                        <th class="text-center">Staj Kayıt Numarası</th>
                        <th class="text-center">Adı Soyadı</th>
                        <th class="text-center">Numarası</th>
                        <th class="text-center">Türü</th>
                        <th class="text-center">Başlangıç Tarihi</th>
                        <th class="text-center">Bitiş Tarihi</th>
                        <th class="text-center">İş Günü</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>
                        <td>123</td>
                        <td>erdem seher</td>
                        <td>Öğrenci</td>
                        <td>Staj 1</td>
                        <td>19.09.2001</td>
                        <td>24.10.2001</td>
                        <td>30 iş günü</td>
                    </tr>
                    <tr>
                        <td>123</td>
                        <td>melike seher</td>
                        <td>Öğrenci</td>
                        <td>Staj 1</td>
                        <td>19.09.2001</td>
                        <td>24.10.2001</td>
                        <td>30 iş günü</td>
                    </tr>
                    <tr>
                        <td>123</td>
                        <td>melike seher</td>
                        <td>Öğrenci</td>
                        <td>Staj 1</td>
                        <td>19.09.2001</td>
                        <td>24.10.2001</td>
                        <td>30 iş günü</td>
                    </tr>
                    <tr>
                        <td>123</td>
                        <td>melike seher</td>
                        <td>Öğrenci</td>
                        <td>Staj 1</td>
                        <td>19.09.2001</td>
                        <td>24.10.2001</td>
                        <td>30 iş günü</td>
                    </tr>
                    <tr>
                        <td>123</td>
                        <td>melike seher</td>
                        <td>Öğrenci</td>
                        <td>Staj 1</td>
                        <td>19.09.2001</td>
                        <td>24.10.2001</td>
                        <td>30 iş günü</td>
                    </tr>
                    <tr>
                        <td>123</td>
                        <td>melike seher</td>
                        <td>Öğrenci</td>
                        <td>Staj 1</td>
                        <td>19.09.2001</td>
                        <td>24.10.2001</td>
                        <td>30 iş günü</td>
                    </tr>
                    <tr>
                        <td>123</td>
                        <td>melike seher</td>
                        <td>Öğrenci</td>
                        <td>Staj 1</td>
                        <td>19.09.2001</td>
                        <td>24.10.2001</td>
                        <td>30 iş günü</td>
                    </tr>
                    <tr>
                        <td>123</td>
                        <td>melike seher</td>
                        <td>Öğrenci</td>
                        <td>Staj 1</td>
                        <td>19.09.2001</td>
                        <td>24.10.2001</td>
                        <td>30 iş günü</td>
                    </tr>
                    <tr>
                        <td>123</td>
                        <td>melike seher</td>
                        <td>Öğrenci</td>
                        <td>Staj 1</td>
                        <td>19.09.2001</td>
                        <td>24.10.2001</td>
                        <td>30 iş günü</td>
                    </tr>
                </tbody>
        </table> 
        <main>
            <form class="d-flex row g-1 mx-5 my-5" role="search">
                <input class="form-control me-2" type="search" placeholder="Staj/IME Kayıt Numarası Giriniz" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Belgeleri Ara</button>
            </form>
            <div class="row d-flex justify-content-center">
               <div class="col-lg-4 d-flex justify-content-center text-white belge">
                <div class="card text-center border border-success border-2 rounded-3">
                    <div class="card-body">
                      <br><br>
                      <h5 class="card-title">201307011 Numaralı Öğrencinin Staj/IME Başvuru Belgesi</h5><br>
                      <button type="button" class="btn btn-light border-success">Pdf İndir</button>
                    </div>
                </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-center text-white belge">
                    <div class="card text-center border border-success border-2 rounded-3">
                        <div class="card-body">
                        <br><br>
                        <h5 class="card-title">201307011 Numaralı Öğrencinin Staj/IME Değerlendirme Belgesi</h5><br>
                        <button type="button" class="btn btn-light border-success">Pdf İndir</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-center text-white belge">
                    <div class="card text-center border border-success border-2 rounded-3">
                        <div class="card-body">
                        <br><br>
                        <h5 class="card-title">201307011 Numaralı Öğrencinin Staj/IME Raporu </h5><br>
                        <button type="button" class="btn btn-light border-success">Pdf İndir</button>
                        </div>
                    </div>
                </div> 
            </div>
            <br><br><br>
            <div class="pt-5 text-center">
                <h2>Staj/İş Yerinde Mesleki Eğitim Değerlendirin</h2>
            </div>
            <form class="d-flex row g-1 mx-5 my-5" role="search">
                <input class="form-control me-2" type="search" placeholder="StajIme Kayıt Numarası Giriniz" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Getir</button>
            </form>
            
            <form class="needs-validation" novalidate>
                <div class="row g-5 mx-5">
                    <div class="col">
                        <div class="row g-3">                  
                            <div class="col-lg-6">
                                <label for="stajTipiId" class="form-label">Öğrencinin Numarası</label>
                                <input type="text" class="form-control" id="stajTipiId" placeholder="Disabled input" value="VeritabanındanGelecek" disabled>
                            </div>
                            <div class="col-lg-6">
                                <label for="stajTipiId" class="form-label">Öğrencinin Adı Soyadı</label>
                                <input type="text" class="form-control" id="stajTipiId" placeholder="Disabled input" value="VeritabanındanGelecek" disabled>
                            </div>
                            <div class="col-lg-6">
                                <label for="stajTipiId" class="form-label">Staj Tipi</label>
                                <input type="text" class="form-control" id="stajTipiId" placeholder="Disabled input" value="VeritabanındanGelecek" disabled>
                            </div>
                            <div class="col-lg-6">
                                <label for="degerlendirmeTarih" class="form-label">Sunum Tarihi</label>
                                <input type="date" class="form-control" id="degerlendirmeTarih" placeholder="" value="" disabled>
                            </div>
                            <div class="col-lg-6">
                                <label for="onaylananGun" class="form-label">Onaylanan Gün(Yok ise '0' giriniz.):</label>
                                <div class="input-group has-validation">
                                <input type="number" class="form-control" id="onaylananGun" placeholder="Onaylanan Gün Sayısını Giriniz" required>
                                <div class="invalid-feedback">
                                    Onaylanan gün boş geçilemez.
                                </div>
                                </div>
                                
                            </div> 
                            <div class="col-lg-6">
                                <label for="eksikGun" class="form-label">Eksik Gün:(Yok ise '0' giriniz.):</label>
                                <input type="number" class="form-control" id="eksikGun" placeholder="Eksik Gün Sayısını Giriniz" required>
                                <div class="invalid-feedback">
                                    Eksik gün boş geçilemez.
                                </div>
                            </div>
                        </div> 
                        <div class="my-3">
                            <button class="w-100 btn btn-success btn-lg mx-2" type="submit">Kaydet</button> <br>
                        </div>
                </div>
            </form>
        </main> 
      </div>
      


      <footer class="p-2 bg-dark text-white text-center">
        <div class="text-start fw-lighter">
           <div class="row p-5 mx-5 text-center d-none d-md-flex justify-lg-content-between ">
              <div class="col-3"><p>SEHER MELİKE ÜNALDI</p> </div>
              <div class="col-3"><p>ZEHRA AN</p> </div>
              <div class="col-3"><p>ÖZER ARMAĞAN</p> </div>
              <div class="col-3"><p>ERDEM HACIHASANOĞLU</p> </div>
           </div>
        </div>
        <div class="text-start fw-lighter">
           <div class="row p-5 mx-5 text-center d-flex d-md-none">
              <p>SEHER MELİKE ÜNALDI</p>
              <p>ZEHRA AN</p>
              <p>ÖZER ARMAĞAN</p>
              <p>ERDEM HACIHASANOĞLU</p>
           </div>
        </div> 
        <hr>
        &copy;2022 Kocaeli Üniversitesi
        <span class="text-primary">&hearts;</span> 
      </footer>  
    
      
      <script src="../js/bootstrap.bundle.min.js"></script>
      <script src="../js/form-validation.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/datatables.min.js"></script><!-- datataple js-->
      <script>
        $('#ogretmenDegerlendir').DataTable({
            lengthMenu:[5,10,20,50],
            language:{
                url:'https://cdn.datatables.net/plug-ins/1.12.1/i18n/tr.json',
                "info": "Toplam _TOTAL_ Kayıt",
                "lengthMenu":" Kayıt : _MENU_ ",
                "paginate": {
                    "first":      "First",
                    "last":       "Last",
                    "next":       ">",
                    "previous":   "<"
                }} }); 
      </script>
    

    <script src="../js/form-validation.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/datatables.min.js"></script><!-- datataple js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script><!-- bootstrap js-->
</body>
</html>